@import "tailwindcss";

@theme {
    --color-primary-dark: #0a1128;
    --color-primary: #001f54;
    --color-primary-light: #034078;
    --color-accent-blue: #1282a2;
    --color-accent-gold: #ffc857;
    --color-accent-gold-light: #ffd97d;
    --color-accent-gold-dark: #d4a017;

    --font-sans: 'Poppins', sans-serif;
    --font-arabic: 'Cairo', sans-serif;
    --font-display: 'Playfair Display', serif;

    --backdrop-blur-xs: 2px;
}
